.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: rem(60);
    background-color: $beige09;
    border-bottom: 2px solid $green;
    z-index: 1;
    box-sizing: border-box;
    
    &__icon {
        font-size: rem(32);
    }
    &__left {
        min-width: rem(228);
        box-sizing: border-box;
        padding-right: rem(10);
    }
    &__right {
        width: 100%;
        padding: rem(8) rem(16);
        box-sizing: border-box;
    }
}
.main-container {
    min-height: 100vh;
    margin-top: rem(60);
    display: flex;
}
.nav {
    min-width: rem(228);
    background-color: $beige09;
    border-right: 2px solid $green;

    &__section {
        cursor: pointer;

        &__title {
            height: rem(44);
            padding: rem(16);
            box-sizing: border-box;
            border-bottom: 2px solid $green;

            &.active {
                background-color: $green;
                span {color: $white;}
            }

            &__sub {
                margin-left: rem(34);
                &-title {
                    height: rem(44);
                    display: flex;
                    align-items: center;
                    padding-left: rem(8);
                    border-bottom: 2px dotted $green;
                    &.active {
                        background-color: $lime;
                        color: $white;
                    }
                }
            }
        }
    }
}
.main {
    margin: rem(24);
    width: 100%;
}
