.guide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 2px solid $black;

}

.colorbook {
    display: flex;
    gap: rem(16);
    margin-bottom: rem(16);

    &__box {
        width: rem(64);
        height: rem(64);

        &.green {background-color: $green;}
        &.green040 {background-color: $green040;}
        &.lime {background-color: $lime;}
        &.lime090 {background-color: $lime090;}

        &.orange {background-color: $orange;}
        &.orange080 {background-color: $orange080;}
        
        &.navy {background-color: $navy;}
        &.blue {background-color: $blue;}

        &.beige00 {background-color: $beige00;}
        &.beige01 {background-color: $beige01;}
        &.beige02 {background-color: $beige02;}
        &.beige08 {background-color: $beige08;}
        &.beige09 {background-color: $beige09;}

        &.gray01 {background-color: $gray01;}
        &.gray02 {background-color: $gray02;}
        &.gray03 {background-color: $gray03;}
        &.gray04 {background-color: $gray04;}
        &.gray05 {background-color: $gray05;}
        &.gray09 {background-color: $gray09;}
        
    }
}

.for-guide-only {
    .toast {
        position: static !important;
        display: flex;
        gap: rem(16);
    }
}