.paper {
    padding: rem(16);
    border: 1px solid $green;
    border-radius: rem(24);
    background-color: $beige01;

    &.on-sale {
        background-color: $green010;
    }
}
.display-none {
    display: none;
}
.no-input {
    pointer-events: none;
    opacity: 0.5;
}
.no-select {
    pointer-events: none;
    opacity: 0.3;
}