// 어드민
$white: #FFFFFF;
$black: #000000;

$green: #39744c;
$green040: rgba(33, 77, 47, 0.4);
$lime: #6ad68d;

$beige01: #FFFAF0;   // floralwhite
$beige02: #F8F5EC;
$beige09: #EFE5CA;

$gray01: #F5F5F5;
$gray02: #EAEAEA;
$gray03: #D9D9D9;
$gray04: #B0B0B0;
$gray05: #8C8C8C;

$white02: #fffcf5;

// 이미지 경로
$imgurl: "../images/";   // style.css CSS 파일 기준으로 넣어줘야함

// 추후 삭제 필요
// $white02: rgba(255, 255, 255, 0.2);
$white04: rgba(255, 255, 255, 0.4);
$white06: rgba(255, 255, 255, 0.6);

$black02: rgba(0, 0, 0, 0.2);

$disable1: #424242;
$disable2: #808080;

$orange: #FF5D00;
$orange_light: #FB9A62;
$orange06: rgba(255, 93, 0, 0.6);